@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
  font-family: "HanaMinOT_otf";
  src: url(//letsohyeah.github.io/HanaMinOTPr6N-Regular.otf) format('opentype');
}
@font-face {
  font-family: "HanaMinOT_woff";
  src: url(//letsohyeah.github.io/HanaMinOTPr6N-Regular.woff) format('woff');
}
@font-face {
  font-family: "HanaMinA_ttf";
  src: url(//letsohyeah.github.io/HanaMinA.ttf) format('truetype');
}
a:link{color:#000000}
a:active {color:#000000;}
a:visited {color:#000000;}
a{text-decoration:none}
* {
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
  }
body{
    margin: 0;
    padding: 0;
  }
.cleanfix{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
     -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
  }
nav{
  position: fixed;
  right: 0;
  bottom: 0;
  padding-top: 20px;
  width: 120px;
  height: 340px;
  background-color: #fff;
}
.navlinks{
  width: 135px;
  direction:rtl;
  font-size: 12pt;
  font-weight: 400;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  line-height: 28px;
  transform: scale(0.58);
    transform-origin:0 0;

    -ms-transform: scale(0.58);         /* IE 9 */
    -ms-transform-origin:0 0;       /* IE 9 */

    -webkit-transform: scale(0.58); /* Safari 和 Chrome */
    -webkit-transform-origin:0 0;   /* Safari 和 Chrome */

    -moz-transform: scale(0.58);        /* Firefox */
    -moz-transform-origin:0 0;      /* Firefox */

    -o-transform: scale(0.58);      /* Opera */
    -o-transform-origin:0 0;        /* Opera */
}
.logobox{
  float: right;
  margin-top: 25px;
  margin-right: 40px;
  height: 70px;
}
.navmob{
  display: none;
}
.contianer{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: column;
  margin-bottom: -50px;
  min-height: 100%;
}
.bigtitle{
  width: 28px;
  border-right: 2px solid #000000;
  position: absolute;
  right: 0;
  margin-top: 90px;
  margin-right: 40px;
  font-size: 12pt;
  font-weight: 400;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 5px;
  line-height: 26px;
  -webkit-writing-mode: vertical-lr ;
  writing-mode: vertical-lr ;
}

/*INDEX*/
.picbox{
  width: calc(100vw - 120px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 120px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #474747;
}
#img1{
   background-image: url(https://i.imgur.com/vNBNRvT.jpg);
}
#img2{
   background-image: url(https://i.imgur.com/nTWj3IN.jpg);
}
#img3{
   background-image: url(https://i.imgur.com/p7OeaUk.jpg);
}
#img4{
   background-image: url(https://i.imgur.com/veNQTVU.jpg);
}
@media only screen and (max-width: 768px) {
  #img1{
    background-image: url(https://i.imgur.com/ZYZ902S.jpg);
  }
  #img2{
     background-image: url(https://i.imgur.com/f0GZx8M.jpg);
  }
  #img3{
     background-image: url(https://i.imgur.com/8qqmWsA.jpg);
  }
  #img4{
     background-image: url(https://i.imgur.com/VEr5Uwm.jpg);
  }
}
.articlecontianer-index{
  max-width: 560px;
  z-index: 1000;
  position: absolute;
  margin-top: 90px;
  margin-left: 100px;
  margin-right: 50px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  color: #474747;
}
  .title1-index{
    width: 100%;
    margin-bottom: 15px;
    font-size: 16pt;
    font-weight: 300;
    font-family: "HanaMinA";
    letter-spacing: 3px;
    display: -moz-flex;
    display: -webkit-flex;
    display: 				 flex;
  }
  .logobox-index{
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    height: auto;
  }
  .button-index{
    border-color: #474747;
    border: 1px solid #474747;
    border-radius: 3px;
    padding-left: 15px;
    width: 78px;
    font-size: 8pt;
    margin-top: 30px;
    height: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 2px;
    color: #474747;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-flex;
    display: -webkit-flex;
    display: 				 flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-transition: width 0.5s;
          transition: width 0.5s;
  }
  .button-index:hover{
    width: 100px;
    -webkit-transition: width 0.5s;
          transition: width 0.5s;
  }
  .copyright-index{
    height: 50px;
    color: #fff;
    margin-left: 100px;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0px;
    transform: scale(0.58);
      transform-origin:0 0;

      -ms-transform: scale(0.58);         /* IE 9 */
      -ms-transform-origin:0 0;       /* IE 9 */

      -webkit-transform: scale(0.58); /* Safari 和 Chrome */
      -webkit-transform-origin:0 0;   /* Safari 和 Chrome */

      -moz-transform: scale(0.58);        /* Firefox */
      -moz-transform-origin:0 0;      /* Firefox */

      -o-transform: scale(0.58);      /* Opera */
      -o-transform-origin:0 0;        /* Opera */
  }
  #slide {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 120px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #slide li {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
  }
  #slide li:first-child {
    position: static;
  }
  #slide li.show {
    opacity: 1;
    visibility: visible;
  }
  #slide .prev, #slide .next {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 14px 12px;
  }
  #slide .prev:hover, #slide .next:hover {
    background-color: rgba(0, 0, 0, 0.24);
  }
  #slide .prev:after, #slide .next:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  #slide .prev {
    left: 0;
  }
  #slide .prev:after {
    transform: rotate(-135deg);
    margin-left: 4px;
  }
  #slide .next {
    right: 0;
  }
  #slide .next:after {
    transform: rotate(45deg);
    margin-right: 4px;
  }
/*INDEX*/

/*SERVICE*/
.articlecontianer1-service{
margin-top: 30px;
margin-left: 20px;
margin-right: 130px;
max-width: 900px;
display: -moz-flex;
display: -webkit-flex;
display: 				 flex;
-moz-flex-direction: column;
-webkit-flex-direction: column;
        flex-direction: column;
}
.articlecontianer2-service{
  width: : 2000px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.articlecontianer3-service{
margin-top: 30px;
margin-right: 130px;
display: -moz-flex;
display: -webkit-flex;
display: 				 flex;
-moz-flex-direction: column;
-webkit-flex-direction: column;
        flex-direction: column;
}
.articlecontianer-service{
  margin-right: 150px;
  overflow: hidden;
}

.title1-service{
  margin-top: 70px;
  margin-left: 50px;
  font-size: 14pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 3px;
}
.title2-service{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 14pt;
  font-weight: 300;
  font-family: "HanaMinA";
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.background1-service{
  background-color: #fff;
  position: absolute;
  right: 0;
  width: 300px;
  margin-top: 100px;
  margin-right: 150px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
     -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.background2-service{
  background-color: #fff;
  position: absolute;
  width: 300px;
  left: 10%;
  top: 10%;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
     -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.background3-service{
  background-color: #fff;
  position: absolute;
  right: 0;
  width: 300px;
  top: 10%;
  right: 10%;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
     -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.button{
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-color: #474747;
  border: 1px solid #474747;
  border-radius: 3px;
  padding-left: 15px;
  width: 78px;
  font-size: 8pt;
  margin-top: 30px;
  height: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  color: #474747;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-transition: width 0.5s;
        transition: width 0.5s;
}
.button:hover{
  width: 100px;
  -webkit-transition: width 0.5s;
        transition: width 0.5s;
}
.button-service{
  border-color: #474747;
  border: 1px solid #474747;
  border-radius: 3px;
  padding-left: 13px;
  width: 100px;
  font-size: 8pt;
  margin-top: 20px;
  height: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  color: #474747;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-transition: width 0.5s;
        transition: width 0.5s;
}
.button-service:hover{
  width: 120px;
  -webkit-transition: width 0.5s;
        transition: width 0.5s;
}
.button1-service{
  border-color: #474747;
  border: 1px solid #474747;
  border-radius: 3px;
  width: 80px;
  font-size: 8pt;
  margin-left:0px;
  margin-top: 15px;
  height: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  color: #474747;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: width 0.5s;
        transition: width 0.5s;
}
.button1-service:hover{
  width: 100px;
  -webkit-transition: width 0.5s;
        transition: width 0.5s;
}
.projectcontianer-service{
  margin-top: 20px;
  margin-left: 50px;
  min-width: 270px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.project-service{
  margin-bottom: 60px;
  min-width: 200px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.descrip1-service{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.project-descrip-service{
  margin-top: 3px;
  font-size: 8pt;
  font-weight: 100;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #909090;
}
.numbertitle{
  position: absolute;
  margin-top: -8px;
  left: 25px;
  font-size: 30pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 3px;
  color: #ddd;
}
.name-service{
  margin-top: 10px;
  font-size: 24pt;
  font-weight: 300;
  line-height: 20pt;
  letter-spacing: 0px;
  font-family: 'Noto Sans TC', sans-serif;
  display: 				 flex;
}
.pricebox-service{
  margin-bottom: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  align-items: flex-end;
}
.NT-service{
  margin-top: 10px;
  font-size: 9pt;
  font-weight: 100;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #909090;
}
.price-service{
  margin-bottom: -4px;
  margin-left: 10px;
  font-size: 18pt;
  font-weight: 500;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #474747;
}
.descrip-service{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.descrip2-service{
  max-width: 510px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.imgbox-service{
  max-width: 300px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.imgcontianer-service{
  margin-left: 50px;
  margin-bottom: 50px;
  width: : 900px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.map-service{
  margin-bottom: 10px;
  margin-left: 50px;
  height: 200px;
}
.itemlist-service{
  position: absolute;
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #474747;
  margin-top: -250px;
  margin-left: 120px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 10pt;
  line-height: 30px;
  letter-spacing: 1px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.button1-service:hover .itemlist-service{
  z-index: 1000;
  opacity: 1;
}
.listcontainer-service{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  justify-content: space-between;
}
.itemname-service{
  width: 60%;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.itemnum-service{
  width: 15%;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.itemprice-service{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.totleprice-service{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content: flex-end;
}
.contactbox-service{
  border:1px solid #474747;
  padding:10px;
  border-radius:5px;
  flex-direction:column;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.texturecontianer{
  margin-top: 20px;
  margin-left: 40px;
  min-width: 270px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.texturebox{
  margin-bottom: 30px;
  min-width: 80px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
  align-items: center;
}
.texture-img{
  max-height: 50px;
  max-width: 50px;
  margin-bottom: 10px;
  height: auto;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.texture-img2{
  max-height: 50px;
  max-width: 50px;
  margin-bottom: 10px;
  height: auto;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.texture-name{
  width: 100%;
  font-size: 10pt;
  font-weight: 100;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content: center;
  color: #474747;
}
/*https://i.imgur.com/qeDJAkh.jpg 大理石*/
/*https://i.imgur.com/OQsG894.jpg 美杉*/
/*https://i.imgur.com/siJCxL9.jpg 烏心石*/
/*https://i.imgur.com/P6gbd0z.jpg 鐵木*/
/*https://i.imgur.com/CnweozN.jpg 非洲紫檀*/
.table1{
  box-shadow: 1px -1px 15px;
  max-width: 1200px;
  margin-top:20px;
  height: 400px;
  background-image: url(https://i.imgur.com/qeDJAkh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.table2{
  box-shadow: 1px -1px 15px;
  max-width: 1200px;
  margin-top:20px;
  height: 400px;
  background-image: url(https://i.imgur.com/OQsG894.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.table3{
  box-shadow: 1px -1px 15px;
  max-width: 1200px;
  margin-top:20px;
  height: 400px;
  background-image: url(https://i.imgur.com/siJCxL9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.table4{
  box-shadow: 1px -1px 15px;
  max-width: 1200px;
  margin-top:20px;
  height: 400px;
  background-image: url(https://i.imgur.com/P6gbd0z.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.table5{
  box-shadow: 1px -1px 15px;
  max-width: 1200px;
  margin-top:20px;
  height: 400px;
  background-image: url(https://i.imgur.com/CnweozN.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.oven{
  position: relative;
  top: 20%;
  margin-left: 40px;
  height: 70%;
}
.rag{
  position: relative;
  top: 50%;
  margin-left: 50px;
  height: 40%;
}
.plate{
  position: relative;
  top: 40%;
  margin-left: 20px;
  height: 50%;
}
.cabinetcontianer{
  margin-top: 100px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.cabinetdescrip{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: column;
}
.title-cabinet{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 14pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 3px;
}
.cabinet{
  width: 300px;
  flex-direction: column;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.cabinetbody{
  z-index: -1000;
  box-shadow: 0px 0px 50px;
  width: 278px;
  flex-wrap: nowrap;
  background-color: #141414;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.drawercontianer{
  width: 280px;
  flex-direction: column;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.drawer1{
  margin-top: 5px;
  width: 100%;
  height: 90px;
  background-image: url(https://i.imgur.com/MvF9RzL.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.drawer2{
  margin-top: 5px;
  width: 100%;
  height: 90px;
  background-image: url(https://i.imgur.com/uZE34sE.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.drawer3{
  margin-top: 5px;
  width: 100%;
  height: 90px;
  background-image: url(https://i.imgur.com/CnweozN.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.drawerside{
  height: 285px;
  width: 10px;
  margin-left: 3px;
  background-color: #ddd;
}
.copyright-cabinet{
  margin-top: 110px;
  color: #999;
  margin-left: 50px;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  transform: scale(0.58);
    transform-origin:0 0;

    -ms-transform: scale(0.58);         /* IE 9 */
    -ms-transform-origin:0 0;       /* IE 9 */

    -webkit-transform: scale(0.58); /* Safari 和 Chrome */
    -webkit-transform-origin:0 0;   /* Safari 和 Chrome */

    -moz-transform: scale(0.58);        /* Firefox */
    -moz-transform-origin:0 0;      /* Firefox */

    -o-transform: scale(0.58);      /* Opera */
    -o-transform-origin:0 0;        /* Opera */
}
/*SERVICE*/

/*ABOUT*/
.articlecontianer-about{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
          flex: 1 0 auto;
}
.title1-about{
  width: 100%;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 14pt;
  font-weight: 100;
  font-family: "HanaMinA";
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.article-about{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 8pt;
  font-weight: 400;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.imgbox-about{
  max-width: 700px;
  margin-top: 20px;
  margin-left: 40px;
  overflow: hidden;
  height: auto;
}
.logobox-about{
  max-width: 200px;
  margin-left: 50px;
  margin-top: 60px;
  overflow: hidden;
  height: auto;
}
/*ABOUT/

/*TEAM*/
.gridcontianer-team{
  margin-top: 90px;
  margin-left: 0px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.grid-team{
  margin-bottom: 40px;
  margin-left: 80px;
  max-width: 420px;
  height: 180px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
     -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  flex-direction:row;
}
.imgbox-team{
  min-width: 100px;
  height: 100px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.articlecontianer-team{
  width: 100%;
  height: 100%;
  margin-left: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.name-team{
  width: 100%;
  font-size: 16pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 5px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.descrip-team{
  margin-top: 10px;
  font-size: 7pt;
  font-weight: 400;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
/*TEAM*/

/*WORKS*/
.gridcontianer-works{
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.grid-works{
  margin-bottom: 40px;
  margin-left: 40px;
  min-width: 270px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: column;
}
.imgbox-works{
  max-width: 330px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.name-works{
  margin-top: 8px;
  font-size: 10pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 5px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content:center;
}
.descrip-works{
  visibility:hidden;
  margin-top: 2px;
  font-size: 7pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 1px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content:center;
  color: #555555;
}
/*WORKS*/


/*PRESS*/
.gridcontianer-press{
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.grid-press{
  border-top: 1px solid #000;
  max-width: 700px;
  margin-bottom: 40px;
  margin-left: 40px;
  min-width: 270px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.name-press{
  margin-top: 20px;
  font-size: 14pt;
  font-weight: 300;
  font-family: "HanaMinA";
  letter-spacing: 5px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.descrip-press{
  margin-top: 5px;
  font-size: 7pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #555555;
}
.descrip-press1{
  margin-left: 50px;
  margin-top: 5px;
  font-size: 7pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #555555;
}
.article-press{
  max-width: 510px;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #555555;
}
.imgbox-press{
  max-width: 700px;
  margin-top: 50px;
  margin-left: 20px;
  overflow: hidden;
  height: auto;
}
/*PRESS*/

/*ITEM*/
.articlecontianer-item{
  height: 100vh;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.imgbox1-item{
  overflow: auto;
  max-width: 700px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.infobox-item{
  margin-top: 300px;
  margin-left: 50px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.name1-item{
  font-size: 12pt;
  font-weight: 300;
  font-family: "HanaMinA";
  letter-spacing: 4px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #474747;
}
.NT-item{
  margin-top: 10px;
  font-size: 9pt;
  font-weight: 100;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #909090;
}
.pricebox-item{
  height: 70px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  align-items: flex-end;
}
.price-item{
  margin-bottom: -4px;
  margin-left: 5px;
  font-size: 18pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #474747;
}
.gridcontianer-item{
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.grid-item{
  margin-bottom: 40px;
  margin-left: 40px;
  min-width: 150px;
  max-width: 200px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: column;
}
.imgbox-item{
  max-width: 200px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.name-item{
  margin-left: 10px;
  margin-top: 10px;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  display: table;
}
#zh-item{
  font-family: "HanaMinA";
}
#en-item{
  font-family: 'Noto Sans TC', sans-serif;
}
.designer-item{
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: -15px;
  padding: 5px;
  background-color: #eee;
  color: #474747;
  font-size: 12pt;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Noto Sans TC', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  display: table;
  transform: scale(0.5);
    transform-origin:0 0;

    -ms-transform: scale(0.5);         /* IE 9 */
    -ms-transform-origin:0 0;       /* IE 9 */

    -webkit-transform: scale(0.5); /* Safari 和 Chrome */
    -webkit-transform-origin:0 0;   /* Safari 和 Chrome */

    -moz-transform: scale(0.5);        /* Firefox */
    -moz-transform-origin:0 0;      /* Firefox */

    -o-transform: scale(0.5);      /* Opera */
    -o-transform-origin:0 0;        /* Opera */
}
.designer-item{
  margin-left: 10px;
  margin-top: 8px;
  padding: 5px;
  background-color: #eee;
  color: #474747;
  font-size: 12pt;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Noto Sans TC', sans-serif;
  display: table;
  transform: scale(0.5);
    transform-origin:0 0;

    -ms-transform: scale(0.5);         /* IE 9 */
    -ms-transform-origin:0 0;       /* IE 9 */

    -webkit-transform: scale(0.5); /* Safari 和 Chrome */
    -webkit-transform-origin:0 0;   /* Safari 和 Chrome */

    -moz-transform: scale(0.5);        /* Firefox */
    -moz-transform-origin:0 0;      /* Firefox */

    -o-transform: scale(0.5);      /* Opera */
    -o-transform-origin:0 0;        /* Opera */
}
.tag-item{
  width: 100%;
  margin-left: 40px;
  margin-bottom: 30px;
  color: #474747;
  font-size: 12pt;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Noto Sans TC', sans-serif;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.copyright-item{
  height: 50px;
  color: #999999;
  margin-left: 50px;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  transform: scale(0.58);
    transform-origin:0 0;

    -ms-transform: scale(0.58);         /* IE 9 */
    -ms-transform-origin:0 0;       /* IE 9 */

    -webkit-transform: scale(0.58); /* Safari 和 Chrome */
    -webkit-transform-origin:0 0;   /* Safari 和 Chrome */

    -moz-transform: scale(0.58);        /* Firefox */
    -moz-transform-origin:0 0;      /* Firefox */

    -o-transform: scale(0.58);      /* Opera */
    -o-transform-origin:0 0;        /* Opera */
}
.copyright-item-mobil{
  display: none;
}
/*ITEM*/

/*Contact*/
.block-contact{
  height: 50px;
}
.descrip-contact{
  margin-bottom: 10px;
  margin-left: 50px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #474747;
}
.map-contact{
  position: absolute;
  bottom: 0px;
  margin-bottom: 120px;
  margin-left: 50px;
  width: 300px;
}
.articlecontianer-contact{
  margin-left: 20px;
  margin-top: 90px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
/*Contact*/

.articlecontianer{
  margin-top: 30px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.title1{
  width: 100%;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 14pt;
  font-weight: 100;
  font-family: "HanaMinA";
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.descrip{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 2px;
  margin-bottom: 50px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.article{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.imgbox{
  max-width: 700px;
  margin-top: 10px;
  margin-left: 40px;
  overflow: hidden;
  height: auto;
}
.hover figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover figure:hover img {
  opacity: .5;
}
.block{
  height: 50px;
}
.copyright{
  height: 50px;
  color: #999999;
  margin-left: 50px;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  transform: scale(0.58);
    transform-origin:0 0;

    -ms-transform: scale(0.58);         /* IE 9 */
    -ms-transform-origin:0 0;       /* IE 9 */

    -webkit-transform: scale(0.58); /* Safari 和 Chrome */
    -webkit-transform-origin:0 0;   /* Safari 和 Chrome */

    -moz-transform: scale(0.58);        /* Firefox */
    -moz-transform-origin:0 0;      /* Firefox */

    -o-transform: scale(0.58);      /* Opera */
    -o-transform-origin:0 0;        /* Opera */
}
.reveal .hidden { display: block !important; visibility: visible !important;}
.product:hover .reveal img { opacity: 1; }
.reveal { position: relative; }
.reveal .hidden {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.reveal:hover .hidden {
  z-index: 100000;
  opacity: 1;
}
.reveal .caption {
  position: absolute;
  top: 0;
  display: table;
  width: 100%;
  height: 100%;
  color: #333;
  letter-spacing: 1px;
}
