@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
  font-family: "HanaMinOT_otf";
  src: url(//letsohyeah.github.io/HanaMinOTPr6N-Regular.otf) format('opentype');
}
@font-face {
  font-family: "HanaMinOT_woff";
  src: url(//letsohyeah.github.io/HanaMinOTPr6N-Regular.woff) format('woff');
}
@font-face {
  font-family: "HanaMinA_ttf";
  src: url(//letsohyeah.github.io/HanaMinA.ttf) format('truetype');
}
a:link{color:#000000}
a:active {color:#000000;}
a:visited {color:#000000;}
a{text-decoration:none}
* {
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
  }
body{
    margin: 0;
    padding: 0;
  }
.cleanfix{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
     -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
  }
nav{
  position: fixed;
  right: 0;
  bottom: 0;
  padding-top: 20px;
  width: 120px;
  height: 340px;
  background-color: #fff;
}
.navlinks{
  width: 135px;
  direction:rtl;
  font-size: 12pt;
  font-weight: 400;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  line-height: 28px;
  transform: scale(0.58);
    transform-origin:0 0;

    -ms-transform: scale(0.58);         /* IE 9 */
    -ms-transform-origin:0 0;       /* IE 9 */

    -webkit-transform: scale(0.58); /* Safari 和 Chrome */
    -webkit-transform-origin:0 0;   /* Safari 和 Chrome */

    -moz-transform: scale(0.58);        /* Firefox */
    -moz-transform-origin:0 0;      /* Firefox */

    -o-transform: scale(0.58);      /* Opera */
    -o-transform-origin:0 0;        /* Opera */
}
.logobox{
  float: right;
  margin-top: 25px;
  margin-right: 40px;
  height: 70px;
}
.navmob{
  display: none;
}
.contianer{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: column;
  margin-bottom: -50px;
  min-height: 100%;
}
.bigtitle{
  width: 28px;
  border-right: 2px solid #000000;
  position: absolute;
  right: 0;
  margin-top: 90px;
  margin-right: 40px;
  font-size: 12pt;
  font-weight: 400;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 5px;
  line-height: 26px;
  -webkit-writing-mode: vertical-lr ;
  writing-mode: vertical-lr ;
}

/*INDEX*/
.picbox{
  height: 100vh;
  margin-right: 150px;
  overflow: hidden;
}
.picbox-mobil{
  display: none;
}
.articlecontianer-index{
  position: absolute;
  padding: 20px;
  margin-top: 70px;
  margin-left: 100px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  line-height: 24px;
}
  .title1-index{
    width: 100%;
    margin-bottom: 10px;
    font-size: 20pt;
    font-weight: 100;
    font-family: "HanaMinA";
    letter-spacing: 3px;
    display: -moz-flex;
    display: -webkit-flex;
    display: 				 flex;
  }
  .logobox-index{
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    height: auto;
  }
  .button-index{
    border-color: #474747;
    border: 1px solid #474747;
    border-radius: 3px;
    padding-left: 15px;
    width: 78px;
    font-size: 8pt;
    margin-top: 30px;
    height: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 2px;
    color: #474747;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-flex;
    display: -webkit-flex;
    display: 				 flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-transition: width 0.5s;
          transition: width 0.5s;
  }
  .button-index:hover{
    width: 100px;
    -webkit-transition: width 0.5s;
          transition: width 0.5s;
  }
/*INDEX*/

/*SERVICE*/
.articlecontianer1-service{
margin-top: 30px;
margin-left: 20px;
margin-right: 130px;
max-width: 700px;
display: -moz-flex;
display: -webkit-flex;
display: 				 flex;
-moz-flex-direction: column;
-webkit-flex-direction: column;
        flex-direction: column;
}
.articlecontianer2-service{
  width: : 900px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.articlecontianer-service{
  margin-right: 150px;
  overflow: hidden;
}

.title1-service{
  margin-top: 70px;
  margin-left: 50px;
  font-size: 14pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 3px;
}
.title2-service{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 14pt;
  font-weight: 300;
  font-family: "HanaMinA";
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.background1-service{
  background-color: #fff;
  position: absolute;
  right: 0;
  width: 300px;
  margin-top: 100px;
  margin-right: 150px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
     -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.background2-service{
  background-color: #fff;
  position: absolute;
  width: 300px;
  left: 10%;
  top: 10%;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
     -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.background3-service{
  background-color: #fff;
  position: absolute;
  right: 0;
  width: 300px;
  top: 10%;
  right: 10%;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
     -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.button{
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-color: #474747;
  border: 1px solid #474747;
  border-radius: 3px;
  padding-left: 15px;
  width: 78px;
  font-size: 8pt;
  margin-top: 30px;
  height: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  color: #474747;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-transition: width 0.5s;
        transition: width 0.5s;
}
.button:hover{
  width: 100px;
  -webkit-transition: width 0.5s;
        transition: width 0.5s;
}
.button-service{
  border-color: #474747;
  border: 1px solid #474747;
  border-radius: 3px;
  padding-left: 13px;
  width: 100px;
  font-size: 8pt;
  margin-top: 20px;
  height: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  color: #474747;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-transition: width 0.5s;
        transition: width 0.5s;
}
.button-service:hover{
  width: 120px;
  -webkit-transition: width 0.5s;
        transition: width 0.5s;
}
.button1-service{
  border-color: #474747;
  border: 1px solid #474747;
  border-radius: 3px;
  width: 80px;
  font-size: 8pt;
  margin-left:0px;
  margin-top: 15px;
  height: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  color: #474747;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: width 0.5s;
        transition: width 0.5s;
}
.button1-service:hover{
  width: 100px;
  -webkit-transition: width 0.5s;
        transition: width 0.5s;
}
.projectcontianer-service{
  margin-top: 20px;
  margin-left: 50px;
  min-width: 270px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.project-service{
  margin-bottom: 60px;
  min-width: 200px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.descrip1-service{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.project-descrip-service{
  margin-top: 3px;
  font-size: 8pt;
  font-weight: 100;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #909090;
}
.numbertitle{
  position: absolute;
  margin-top: -8px;
  left: 25px;
  font-size: 30pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 3px;
  color: #ddd;
}
.name-service{
  margin-top: 10px;
  font-size: 24pt;
  font-weight: 300;
  line-height: 20pt;
  letter-spacing: 0px;
  font-family: 'Noto Sans TC', sans-serif;
  display: 				 flex;
}
.pricebox-service{
  margin-bottom: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  align-items: flex-end;
}
.NT-service{
  margin-top: 10px;
  font-size: 9pt;
  font-weight: 100;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #909090;
}
.price-service{
  margin-bottom: -4px;
  margin-left: 10px;
  font-size: 18pt;
  font-weight: 500;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #474747;
}
.descrip-service{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.descrip2-service{
  max-width: 510px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.imgbox-service{
  max-width: 300px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.imgcontianer-service{
  margin-top: 30px;
  margin-left: 50px;
  width: : 900px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.map-service{
  margin-bottom: 10px;
  margin-left: 50px;
  height: 200px;
}
.itemlist-service{
  position: absolute;
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #474747;
  margin-top: -250px;
  margin-left: 120px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 10pt;
  line-height: 30px;
  letter-spacing: 1px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.button1-service:hover .itemlist-service{
  z-index: 1000;
  opacity: 1;
}
.listcontainer-service{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  justify-content: space-between;
}
.itemname-service{
  width: 60%;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.itemnum-service{
  width: 15%;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.itemprice-service{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.totleprice-service{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content: flex-end;
}
/*SERVICE*/

/*ABOUT*/
.articlecontianer-about{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
          flex: 1 0 auto;
}
.title1-about{
  width: 100%;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 14pt;
  font-weight: 100;
  font-family: "HanaMinA";
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.article-about{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 8pt;
  font-weight: 400;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.imgbox-about{
  max-width: 700px;
  margin-top: 20px;
  margin-left: 40px;
  overflow: hidden;
  height: auto;
}
.logobox-about{
  max-width: 200px;
  margin-left: 50px;
  margin-top: 60px;
  overflow: hidden;
  height: auto;
}
/*ABOUT/

/*TEAM*/
.gridcontianer-team{
  margin-top: 90px;
  margin-left: 0px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.grid-team{
  margin-bottom: 40px;
  margin-left: 80px;
  max-width: 420px;
  height: 180px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
     -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  flex-direction:row;
}
.imgbox-team{
  min-width: 100px;
  height: 100px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.articlecontianer-team{
  width: 100%;
  height: 100%;
  margin-left: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.name-team{
  width: 100%;
  font-size: 16pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 5px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.descrip-team{
  margin-top: 10px;
  font-size: 7pt;
  font-weight: 400;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
/*TEAM*/

/*WORKS*/
.gridcontianer-works{
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.grid-works{
  margin-bottom: 40px;
  margin-left: 40px;
  min-width: 270px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: column;
}
.imgbox-works{
  max-width: 330px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.name-works{
  margin-top: 8px;
  font-size: 10pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 5px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content:center;
}
.descrip-works{
  visibility:hidden;
  margin-top: 2px;
  font-size: 7pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 1px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content:center;
  color: #555555;
}
/*WORKS*/


/*PRESS*/
.gridcontianer-press{
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.grid-press{
  border-top: 1px solid #000;
  max-width: 700px;
  margin-bottom: 40px;
  margin-left: 40px;
  min-width: 270px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.name-press{
  margin-top: 20px;
  font-size: 14pt;
  font-weight: 300;
  font-family: "HanaMinA";
  letter-spacing: 5px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.descrip-press{
  margin-top: 5px;
  font-size: 7pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #555555;
}
.descrip-press1{
  margin-left: 50px;
  margin-top: 5px;
  font-size: 7pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #555555;
}
.article-press{
  max-width: 510px;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #555555;
}
.imgbox-press{
  max-width: 700px;
  margin-top: 50px;
  margin-left: 20px;
  overflow: hidden;
  height: auto;
}
/*PRESS*/

/*ITEM*/
.articlecontianer-item{
  height: 100vh;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.imgbox1-item{
  overflow: auto;
  max-width: 700px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.infobox-item{
  margin-top: 300px;
  margin-left: 50px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.name1-item{
  font-size: 12pt;
  font-weight: 300;
  font-family: "HanaMinA";
  letter-spacing: 4px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #474747;
}
.NT-item{
  margin-top: 10px;
  font-size: 9pt;
  font-weight: 100;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #909090;
}
.pricebox-item{
  height: 70px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  align-items: flex-end;
}
.price-item{
  margin-bottom: -4px;
  margin-left: 5px;
  font-size: 18pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #474747;
}
.gridcontianer-item{
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.grid-item{
  margin-bottom: 40px;
  margin-left: 40px;
  min-width: 150px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: column;
  align-items: center;
}
.imgbox-item{
  max-width: 200px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.name-item{
  margin-top: 15px;
  font-size: 10pt;
  font-weight: 300;
  font-family: "HanaMinA";
  letter-spacing: 5px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.copyright-item{
  height: 50px;
  color: #999999;
  margin-left: 50px;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  transform: scale(0.58);
    transform-origin:0 0;

    -ms-transform: scale(0.58);         /* IE 9 */
    -ms-transform-origin:0 0;       /* IE 9 */

    -webkit-transform: scale(0.58); /* Safari 和 Chrome */
    -webkit-transform-origin:0 0;   /* Safari 和 Chrome */

    -moz-transform: scale(0.58);        /* Firefox */
    -moz-transform-origin:0 0;      /* Firefox */

    -o-transform: scale(0.58);      /* Opera */
    -o-transform-origin:0 0;        /* Opera */
}
.copyright-item-mobil{
  display: none;
}
/*ITEM*/

/*Contact*/
.block-contact{
  height: 50px;
}
.descrip-contact{
  margin-bottom: 10px;
  margin-left: 50px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  color: #474747;
}
.map-contact{
  position: absolute;
  bottom: 0px;
  margin-bottom: 120px;
  margin-left: 50px;
  width: 300px;
}
.articlecontianer-contact{
  margin-top: 90px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
/*Contact*/

.articlecontianer{
  margin-top: 30px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.title1{
  width: 100%;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 14pt;
  font-weight: 100;
  font-family: "HanaMinA";
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.descrip{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 2px;
  margin-bottom: 50px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.article{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 8pt;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  line-height: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.imgbox{
  max-width: 700px;
  margin-top: 10px;
  margin-left: 40px;
  overflow: hidden;
  height: auto;
}
.hover figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover figure:hover img {
  opacity: .5;
}
.block{
  height: 50px;
}
.copyright{
  height: 50px;
  color: #999999;
  margin-left: 50px;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0px;
  transform: scale(0.58);
    transform-origin:0 0;

    -ms-transform: scale(0.58);         /* IE 9 */
    -ms-transform-origin:0 0;       /* IE 9 */

    -webkit-transform: scale(0.58); /* Safari 和 Chrome */
    -webkit-transform-origin:0 0;   /* Safari 和 Chrome */

    -moz-transform: scale(0.58);        /* Firefox */
    -moz-transform-origin:0 0;      /* Firefox */

    -o-transform: scale(0.58);      /* Opera */
    -o-transform-origin:0 0;        /* Opera */
}
.reveal .hidden { display: block !important; visibility: visible !important;}
.product:hover .reveal img { opacity: 1; }
.reveal { position: relative; }
.reveal .hidden {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.reveal:hover .hidden {
  z-index: 100000;
  opacity: 1;
}
.reveal .caption {
  position: absolute;
  top: 0;
  display: table;
  width: 100%;
  height: 100%;
  color: #333;
  letter-spacing: 1px;
}
