html {
  overflow: hidden;
  font-family: 'Noto Sans TC', sans-serif;
}
li{
  list-style: none;
}
a:link{color:#474849}
a:active {color:#474849;}
a:visited {color:#474849;}
a{text-decoration:none}
button{
  border: none;
  background: none;
  text-align: left;

  font-size: 0.8rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}
* {
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
  }
body{

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #474849;
  }
#overlay{
  z-index: 10000;
}
.player {
  max-width: none !important;
}
.loadingbox{
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  position: absolute;
  background-color: #474849;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
.cleanfix{
  width: 100vw;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  background-color: #474849;
  }
.leftbox{
  border-radius: 2rem;
  height: 100vh;
  width: 61.3vh;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-directio: column;
  -webkit-flex-direction: column;
     flex-direction: column;
}
.rightbox{
  border-radius: 2rem;
  border-left: 1px solid #474849;
  background-color: #e2ded7;
  height: 100vh;
  width: calc(100vw - 61.3vh);
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-directio: column:
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.rightbox::-webkit-scrollbar {
  display: none;
}
#topbox{
  transition: 0.4s;
  height: calc(100vh - 61.3vh);
  width: 100%;
  border-radius: 2rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
#topbox.scroll{
  height: 5rem;
}
#logobox{
  min-width:  calc(100vh - 61.3vh);
  height: 100%;
  border: 1px solid #474849;
  background-color: #e2ded7;
  border-radius: 2rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  align-items: center;
  justify-content: center;
}
#navbox{
  transition: 0.4s;
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-directio: column:
  -webkit-flex-direction: column;
     flex-direction: column;
}
#navbox.scroll{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 5rem;
}
#nav{
  height: calc(61.3vh - 38.7vh);
  padding: 3rem;
  border-bottom: 1px solid #474849;
  border-radius: 2rem;
  background-color: #e2ded7;
  font-size: 0.8rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -moz-flex-directio: column:
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
#nav.scroll{
  justify-content: space-around;
  border-right: 1px solid #474849;
  height: 5rem;
  padding: 0 2rem;
  align-items: center;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
#nav.scroll li{
  margin-bottom: 0;
}
#nav li{
  cursor: pointer;
  font-size: 1.8vh;
  line-height: normal;
  margin-bottom: 0.6vh;
  transition: opacity 0.3s;
}

#nav li:hover{
  opacity: 0.5;
}

#nav li:last-child{
  margin-bottom: 0;
}

#titlebox{
  transition: 0.4s;
  font-size: 2.6vh;
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.2rem;
  height: calc(38.7vh - 22.6vh);
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #474849;
  background-color: #e2ded7;
  border-radius: 2rem;
}
#titlebox.scroll{
  height: 5rem;
  width: 38.7vh;
}
.titlebar{
  width: 13vh;
  height: 2rem;
  position: absolute;
  background-color: #e2ded7;
  transform: scaleX(0)
}
.move-title{
  animation: 0.5s move-title ease-in-out ;
  transform-origin: right center;
}
@keyframes move-title {
  0% { transform: scaleX(0) }
  35% { transform: scaleX(1) }
  65% { transform: scaleX(1) }
  100% { transform: scaleX(0) }
}
.textA , .textW , .textC{
  display: none;
}
.textA.showtitle{
  display: flex;
}
.textW.showtitle{
  display: flex;
}
.textC.showtitle{
  display: flex;
}

/*About*/
#infobox-about{
  padding: 5rem 3rem;
  position: absolute;
  overflow-y: scroll;
  height: calc(100vh - 38.7vh);
  width: 61.3vh;
  bottom: 0;
  border-radius: 2rem;
  background-color: #e2ded7;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
  z-index: 1;
}
#infobox-about.view{
  transform: translateY(0%);
  z-index: 100;
}
#infobox-about.scroll{
  height: calc(100vh - 5rem);
}
.rightbox.about{
  overflow: scroll;
  right: 0;
  position: absolute;
  padding: 3rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.rightbox.about.view{
  transform: translateX(0);
  z-index: 1000;
}
.titlebox-skills{

  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  width: 100%;
  text-align: right;
  margin-bottom: 3rem;
}
.typebox{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.type_content{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  max-width: 60rem;
  flex-wrap: wrap;
  flex: 1;
}
.type_title{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.skill_box{
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-weight: 300;
}
.skill_box ul li{
  margin-bottom: 0.5rem;
}
.skill_box ul li span{
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: #6e6e6e;
}
.skill_title{
  padding-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  border-bottom: 1px solid #000;
}

.about__name-zh{
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.3rem;
}
.about__name-en{
  font-size: 12px;
  font-weight: 300;
}
.about__info{
  font-size: 12px;
  margin-top: 1rem;
  color: #474849;
}
.about__description {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 64px;
  color: #474849;
}
.content-about{
  font-size: 14px;
  font-weight: 300;
  padding-top: 2rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.content-about-title{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.about__experience{
  width: 100%;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.8rem;
  margin-top: 40px;
  background: #e2ded7;
  color: #474849;
}

.job {
  width: 100%;
  margin-bottom: 64px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.job:last-child {
  margin-bottom: 0;
}
.job__company{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}
.job__info{
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 16px;
  color: #555;
  font-weight: 300;
}
.job__info li {
  margin-right: 24px;
}
.job__info-title {
  font-size: 14px;
}
.job__info-time {
  font-size: 12px;
}
.job__title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}
/*About*/


/*WORKS*/
#infobox-works{
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: scroll;
  position: absolute;
  height: calc(100vh - 38.7vh);
  width: 61.3vh;
  bottom: 0;
  border-radius: 2rem;
  background-color: #e2ded7;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
  z-index: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#infobox-works::-webkit-scrollbar{
  display: none;
}
#infobox-works.view{
  transform: translateY(0%);
  z-index: 100;
}
#infobox-works.scroll{
  height: calc(100vh - 5rem);
}
.tabbox {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tab {
  width: 30%;
  min-width: 6rem;
  background: #fff;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  border-radius: 4rem;
  font-size: 1.2vh;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
}

.tab.actived {
  color: #fff;
  background: #474849;
}
.rightbox.works{
  overflow: scroll;
  right: 0;
  position: absolute;
  padding: 3rem;
  flex-direction: column;
}
.mobile{
  display: none;
}
.desktop{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.slide-enter-active,.slide-leave-active {
  transition: all .5s ease;
}
.slide-enter, .slide-leave-to{
  transform: translateX(100%);
}
.fade-enter-active,.fade-leave-active {
  transition: all .5s ease;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
.waterfall{
  width: calc(100% - 2rem);
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}
.waterfall span{
  width: 100%;
}
.item{
  padding: 1rem;
  transition: 0.5s;
  width: calc(50% - 0rem);
}
.imgbox-works{
  overflow: hidden;
  display: inline-block;
  border-radius: 1rem;
  cursor: pointer;
}
.imgbox-works img{
  transition: 0.3s;
}
.imgbox-works:hover img{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.imgbox1-works{
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgbox1-works__img{
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}
.imgbox1-works__img iframe, .imgbox1-works__img img  {
  width: 100%;
}
.img-descript{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 14px;
  color: #474849;
}
.name-works{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2vh;
  font-weight: 300;
  letter-spacing: 0.1rem;
  display: table;

}
.works-info{
  font-size: 14px;
  margin: 3rem 0;
  width: 100%;
  line-height: 1.5;
  color: #474849;
}
.works-descript {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
}
.works-info a{
  font-weight: bold;
  color: #000;
  line-height: 1.5;
}
.works-info-text{
  line-height: 1.5;
}
.tagbox{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  letter-spacing: normal;
  font-size: 12px;
}
.tagbox span{
  border-radius: 2rem;
  color: #fff;
  background: #474849;
  padding: 0.2rem 0.8rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.titlebox-works{
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  width: 100%;
}
/*WORKS*/



/*CONTACT*/
#infobox-contact{
  position: absolute;
  height: calc(100vh - 38.7vh);
  width: 61.3vh;
  bottom: 0;
  padding: 3rem;
  border-radius: 2rem;
  background-color: #e2ded7;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  font-weight: 300;

  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: column;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
  z-index: 1;
}
#infobox-contact.view{
  transform: translateY(0%);
  z-index: 100;
}
#infobox-contact.scroll{
  height: calc(100vh - 5rem);
}
/*CONTACT*/
.linebox{
  margin-right: 2rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.linebox:last-child {
  margin-right: 0;
}
.line1{
  transform: rotate(10deg);
  border-radius: 1rem;
  height: 2.5rem;
  width: 0.7rem;
  background-color: #e2ded7;
  animation: 2s line ease-in-out ;
}
.line2{
  margin-left: 0.6rem;
  transform: rotate(10deg);
  border-radius: 1rem;
  height: 4.2rem;
  width: 0.7rem;
  background-color: #e2ded7;
  animation: 2s line1 ease-in-out ;
}
.line3{
  align-self: flex-end;
  margin-left: 0.6rem;
  transform: rotate(10deg);
  border-radius: 1rem;
  height: 2.5rem;
  width: 0.7rem;
  background-color: #e2ded7;
  animation: 2s line ease-in-out ;
}
@keyframes line {
  0% { transform: rotate(0deg)}
  0% { height: 4.2rem}
  50% { height: 2.5rem}
  70% { transform: rotate(10deg)}
}
@keyframes line1 {
  0% { transform: rotate(0deg)}
  70% { transform: rotate(10deg)}
}

@media (max-width:768px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
  }
  #overlay{
  	z-index: 10000;
  }
  .loadingbox{
  	justify-content: center;
  	align-items: center;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	position: absolute;
  	background-color: #474849;
  	width: 100vw;
  	height: 100vh;
  	z-index: 1000;
  }
  .cleanfix{
  	overflow-x: hidden;
  	overflow-y: scroll;
  	width: 100vw;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	flex-direction: column;
  	background-color: #474849;
  }
  .cleanfix.works{
    height: fill-available;
    height: -webkit-fill-available;
    height: -moz-available;
    overflow-y: hidden;
  }
  .leftbox{
  	width: 100vw;
  	height: auto;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	-moz-flex-directio: column;
  	-webkit-flex-direction: column;
  		 flex-direction: column;
  }
  .rightbox{
  	border-radius: 2rem;
  	border-top: 1px solid #474849;
  	background-color: #e2ded7;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	-moz-flex-directio: column:
  	-webkit-flex-direction: column;
  	flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .rightbox::-webkit-scrollbar {
    display: none;
  }
  #topbox{
  	transition: 0.4s;
  	width: 100%;
    height: auto;
  	border-radius: 2rem;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  }
  #logobox{
  	min-width:  61.3vw;
  	height: 61.3vw;
  	border: 1px solid #474849;
  	background-color: #e2ded7;
  	border-radius: 2rem;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	align-items: center;
  	justify-content: center;
  }
  #navbox{
  	transition: 0.4s;
  	width: 100%;
    height: 61.3vw;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	-moz-flex-directio: column:
  	-webkit-flex-direction: column;
  		 flex-direction: column;
  }
  #nav{
  	height: 38.7vw;
  	padding: 1.8rem;
  	border-bottom: 1px solid #474849;
  	border-radius: 2rem;
  	background-color: #e2ded7;

  	font-size: 0.8rem;
  	line-height: 1.4rem;
  	letter-spacing: 0.1rem;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	-moz-flex-directio: column:
  	-webkit-flex-direction: column;
  		 flex-direction: column;
  	justify-content: center;
  }

  #nav li{
    font-size: 14px;
  }

  #titlebox{
  	transition: 0.4s;
  	font-size: 1rem;
  	font-weight: 600;
  	letter-spacing: 0.2rem;
  	height: 22.6vw;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	justify-content: center;
  	align-items: center;
  	border-bottom: 1px solid #474849;
  	background-color: #e2ded7;
  	border-radius: 2rem;
  }
  #titlebox.scroll{
    width: 12rem;
  }
  .titlebar{
  	width: 6rem;
  	height: 2rem;
  	position: absolute;
  	background-color: #e2ded7;
  	transform: scaleX(0)
  }
  .move-title{
  	animation: 0.5s move-title ease-in-out ;
  	transform-origin: right center;
  }
  @keyframes move-title {
  	0% { transform: scaleX(0) }
  	35% { transform: scaleX(1) }
  	65% { transform: scaleX(1) }
  	100% { transform: scaleX(0) }
  }
  .textA , .textW , .textC{
  	display: none;
  }
  .textA.showtitle{
  	display: flex;
  }
  .textW.showtitle{
  	display: flex;
  }
  .textC.showtitle{
  	display: flex;
  }

  /*About*/
  #infobox-about{
    position: relative;
  	padding: 2rem;
  	padding-top: 3rem;
  	padding-bottom: 3rem;
  	height: auto;
  	width: 100vw;
  	bottom: 0;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	flex-direction: column;
  	justify-content: space-around;
  	border-radius: 2rem;
  	background-color: #e2ded7;
  	transition: 0.3s ease-in-out;
  	z-index: 1;
  	transform: translate3d(100%,0,0);
  	-webkit-transform: translate3d(100%,0,0);
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  #infobox-about::-webkit-scrollbar {
    display: none;
  }
  #infobox-about.view{
  	transform: translate3d(0,0,0);
  	-webkit-transform: translate3d(0,0,0);
  	opacity: 1;
  	z-index: 100;
  }
  #infobox-about.scroll{
    height: auto;
  }
  .rightbox.about{
    position: relative;
  	width: 100vw;
  	height: auto;
  	padding: 2rem;
  	display: none;
  	flex-direction: column;
  	transform: translateX(100%);
  	transition: 0.3s ease-in-out;
  	z-index: 1;
  }
  .rightbox.about.view{
  	transform: translateX(0%);
  	z-index: 1000;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  }
  .titlebox-skills{

  	font-size: 1.6rem;
  	font-weight: 300;
  	letter-spacing: 0.1rem;
  	width: 100%;
  	text-align: left;
  	margin-bottom: 4rem;
  }
  .skillsgrid{
  	width: 100%;
  	margin-bottom: 4rem;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  }
  .skill_box {
    margin-right: 1.2rem;
    margin-bottom: 2rem;
  }
  .type_title{
    min-width: 0;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 2rem;
  }
  .typebox{
  	width: 100%;
  	margin-bottom: 3rem;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
    flex-direction: column-reverse;
  }
  .bar{
  	margin-right: 0.3rem;
  	width: 100%;
  	margin-top: 0.5rem;
  	height: 1.2rem;
  	background-color: #474849;
  	border-radius: 0.4rem;
  }
  .move{
  	animation: 1.8s move ease-in-out ;
  	transform-origin:left center;
  }
  @keyframes move {
  	0% { transform: scaleX(0)}
  	20%	{ transform: scaleX(0)}
  	65% { transform: scaleX(80%) }
  	100% { transform: scaleX(100%) }
  }
  .barbox{
  	width: 100%;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	flex-direction:  row;
  	line-height: 2.1rem;

  	font-size: 0.8rem;
  	font-weight: 500;
  	letter-spacing: 0rem;
  }

  /*About*/


  /*WORKS*/
  #infobox-works{
  	padding: 1rem;
  	overflow: scroll;
  	position: absolute;
  	height: calc( 100vh - 61.3vw );
  	width: 100vw;
  	top: 61.3vw;
  	border-radius: 2rem;
  	background-color: #e2ded7;
  	transform: translate3d(100%,0,0);
  	-webkit-transform: translate3d(100%,0,0);
  	transition: 0.3s ease-in-out;
  	z-index: 1;
  }
  #infobox-works.view{
  	transform: translate3d(0,0,0);
  	-webkit-transform: translate3d(0,0,0);
  	z-index: 100;
  }
  #infobox-works.scroll{
    top: 5rem;
  }
  .rightbox.works{
  	overflow: scroll;
  	top: 0;
  	position: fixed;
  	padding: 2rem;
  	width: 100vw;
  	height: 100%;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	flex-direction: column;
  	z-index: 100;
  	transition: 0.3s ease-in-out;
  	transform: translateX(100%);
  }
  .rightbox.works.view{
  	transform: translateX(0);
  }
  .mobile{
  	display: -moz-flex;
    display: -webkit-flex;
    display: 				 flex;
  }
  .desktop{
    display: none;
  }
  .slide-enter-active,.slide-leave-active {
    transition: all .5s ease;
  }
  .slide-enter, .slide-leave-to{
    transform: translateX(100%);
  }
  .fade-enter-active,.fade-leave-active {
    transition: all .5s ease;
  }
  .fade-enter, .fade-leave-to{
    opacity: 0;
  }
  .waterfall{
    width: calc(100% - 0rem);
  }
  .item{
    padding: 0.5rem;
  	width: calc(50vw - 1rem);
  	margin-bottom: 0.5rem;
  }
  .imgbox-works{
  	overflow: hidden;
  	border-radius: 1rem;
    cursor: pointer;
  }
  .imgbox1-works{
  	margin-top: 2rem;
  	width: 100%;
  	overflow: hidden;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	justify-content: center;
  	align-items: center;
  	border-radius: 1rem;
  }
  .name-works{
  	width: 100%;
  	text-align: center;
  	margin-top: 10px;
  	font-size: 0.7rem;
  	font-weight: 300;
  	letter-spacing: 0.2rem;
  	display: table;

  }
  .titlebox-works{

  	font-size: 1.2rem;
  	font-weight: 500;
  	letter-spacing: 0.1rem;
  	width: calc(100% - 21px);
  }
  .close {
    position: absolute;
    cursor: pointer;
    width: 21px;
    height: 21px;
    right: 0;
    top: 2px;
    pointer-events: auto;
  }
  .close:before, .close:after {
  	position: absolute;
    top: -2px;
    left: 10px;
  	content: ' ';
  	height: 1.6rem;
  	width: 3px;
  	border-radius: 1rem;
  	background-color: #474849;
  }
  .close:before {
  	transform: rotate(45deg);
  }
  .close:after {
  	transform: rotate(-45deg);
  }
  .works-info{
    margin-top: 4rem;
  }
  .rightbox-container {
    position: relative;
  }
  .tab {
    font-size: 12px;
  }

  /*WORKS*/



  /*CONTACT*/
  #infobox-contact{
  	position: absolute;
  	height: calc( 100vh - 61.3vw );
  	width: 100vw;
  	top: 61.3vw;
  	padding: 3rem;
  	border-radius: 2rem;
  	background-color: #e2ded7;
  	line-height: 2rem;
  	letter-spacing: 0.2rem;
  	font-size: 1rem;
  	font-weight: 300;

  	justify-content: center;
  	align-items: center;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  	flex-direction: column;
  	transform: translate3d(100%,0,0);
  	-webkit-transform: translate3d(100%,0,0);
  	transition: 0.3s ease-in-out;
  	z-index: 1;
  }
  #infobox-contact.view{
  	transform: translate3d(0,0,0);
  	-webkit-transform: translate3d(0,0,0);
  	z-index: 100;
  }
  #infobox-contact.scroll{
    top: 5rem;
  }
  /*CONTACT*/
  .linebox{
  	margin-right: 2rem;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: 				 flex;
  }
  .line1{
  	transform: rotate(10deg);
  	border-radius: 1rem;
  	height: 2.5rem;
  	width: 0.7rem;
  	background-color: #e2ded7;
  	animation: 2s line ease-in-out ;
  }
  .line2{
  	margin-left: 0.6rem;
  	transform: rotate(10deg);
  	border-radius: 1rem;
  	height: 4.2rem;
  	width: 0.7rem;
  	background-color: #e2ded7;
  	animation: 2s line1 ease-in-out ;
  }
  .line3{
  	align-self: flex-end;
  	margin-left: 0.6rem;
  	transform: rotate(10deg);
  	border-radius: 1rem;
  	height: 2.5rem;
  	width: 0.7rem;
  	background-color: #e2ded7;
  	animation: 2s line ease-in-out ;
  }
  @keyframes line {
  	0% { transform: rotate(0deg)}
  	0% { height: 4.2rem}
  	50% { height: 2.5rem}
  	70% { transform: rotate(10deg)}
  }
  @keyframes line1 {
  	0% { transform: rotate(0deg)}
  	70% { transform: rotate(10deg)}
  }

}
@media (min-width: 1400px) {
  .imgbox1-works{
    max-width: 1000px;
  }
}

@media (max-width:1440px) {
  #nav {
    padding: 4rem;
  }
  #infobox-about {
    padding: 5rem 4rem;
  }
  #infobox-works {
    padding: 3rem;
  }
  .rightbox.about {
    padding: 4rem;
  }
  .rightbox.works{
    padding: 4rem;
  }
}
