@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
	font-family: "HanaMinOT_otf";
	src: url(//letsohyeah.github.io/HanaMinOTPr6N-Regular.otf) format('opentype');
}
@font-face {
	font-family: "HanaMinOT_woff";
	src: url(//letsohyeah.github.io/HanaMinOTPr6N-Regular.woff) format('woff');
}
@font-face {
	font-family: "HanaMinA_ttf";
	src: url(//letsohyeah.github.io/HanaMinA.ttf) format('truetype');
}
a:link{color:#000;}
a:active {color:#000;}
a:visited {color:#000;}
a{text-decoration:none}
* {
			 -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
						box-sizing: border-box;
						margin: 0;
						padding: 0;
	}
body{
		margin: 0;
		padding: 0;
	}
.cleanfix{
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
		 -moz-flex-direction: column;
	-webkit-flex-direction: column;
					flex-direction: column;
	}
nav{
	position: fixed;
	top: 0;
	width: 100%;
	height: 30px;
	background-color: #222;
	z-index: 1;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	justify-content:center;
	align-items:center;
	visibility: hidden;
}
.navlinks{
	color: #fff;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 6pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 2px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.logobox{
	display: none;
}
.navmob{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	margin-top: 10px;
	margin-bottom: 10px;
}
.dropdown-menu > span {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left: 10px;
}

.dropdown-menu > span,
.dropdown-menu > div {
	cursor: pointer;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.dropdown-menu > ul {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	width: 100%;
	position: absolute;
	z-index: 1;
	background-color: #fff;
	font-size: 10pt;
	font-weight: 300;
	font-family: ‘Noto Sans TC’, sans-serif;
	letter-spacing: 2px;
	line-height: 40px;
	padding-left: 15px;
	list-style:none;
	margin-top: 10px;

	visibility: hidden;
	transition: visibility 0.5s;
	opacity: 0;
}

.dropdown-menu > span:focus ~ ul {
	visibility: visible;
	opacity: 1;
}
.contianer{
	width: 100%;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-direction: column;
}
.bigtitle{
	position: absolute;
	text-align: center;
	margin-top: -35px;
	width: 100%;
	font-size: 10pt;
	font-weight: 400;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 5px;
}

/*INDEX*/
.picbox{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
	overflow: hidden;
	height: 100vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #474747;
}
#img1{
	 background-image: url(https://i.imgur.com/vNBNRvT.jpg);
}
#img2{
	 background-image: url(https://i.imgur.com/nTWj3IN.jpg);
}
#img3{
	 background-image: url(https://i.imgur.com/p7OeaUk.jpg);
}
#img4{
	 background-image: url(https://i.imgur.com/veNQTVU.jpg);
}
@media only screen and (max-width: 767px) {
	#img1{
		background-image: url(https://i.imgur.com/ZYZ902S.jpg);
	}
	#img2{
		 background-image: url(https://i.imgur.com/f0GZx8M.jpg);
	}
	#img3{
		 background-image: url(https://i.imgur.com/8qqmWsA.jpg);
	}
	#img4{
		 background-image: url(https://i.imgur.com/VEr5Uwm.jpg);
	}
}
.articlecontianer-index{
	position: absolute;
	width: 100%;
	padding: 30px;
	margin-top: 8%;
	font-size: 7pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 2px;
	line-height: 16px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.title1-index{
	margin-bottom: 10px;
	font-size: 14pt;
	font-weight: 100;
	font-family: "HanaMinA";
	letter-spacing: 3px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.logobox-index{
	max-width: 200px;
	margin-top: 10px;
	margin-bottom: 30px;
	overflow: hidden;
	height: auto;
}
.button-index{
	border: 1px solid #474747;
	border-radius: 3px;
	padding-left: 22px;
	width: 100px;
	font-size: 10pt;
	margin-top: 40px;
	margin-bottom: 20px;
	height: 30px;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 2px;
	color: #474747;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	align-items: center;
}
.copyright-index{
	position: fixed;
	color: #fff;
	margin-left: 15px;
	margin-bottom: 15px;
	bottom: 0;
	font-size: 6pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 0px;
}
#slide {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
#slide li {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: 0.8s;
}
#slide li:first-child {
	position: static;
}
#slide li.show {
	opacity: 1;
	visibility: visible;
}
#slide .prev, #slide .next {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: 0.4s;
	background-color: rgba(0, 0, 0, 0.12);
	padding: 14px 12px;
}
#slide .prev:hover, #slide .next:hover {
	background-color: rgba(0, 0, 0, 0.24);
}
#slide .prev:after, #slide .next:after {
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
}
#slide .prev {
	left: 0;
}
#slide .prev:after {
	transform: rotate(-135deg);
	margin-left: 4px;
}
#slide .next {
	right: 0;
}
#slide .next:after {
	transform: rotate(45deg);
	margin-right: 4px;
}
/*INDEX*/

/*SERVICE*/
.articlecontianer-service{
	margin-top: 50px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
					flex-direction: column;
					flex: 1 0 auto;
}
.articlecontianer2-service{
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
}
.projectcontianer-service{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
}
.project-service{
	width: 33%;
	margin-bottom: 30px;
	overflow: hidden;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
					flex-direction: column;
}
.title1-service{
	margin-right: 15px;
	margin-top: 90px;
	margin-left: 15px;
	font-size: 14pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 3px;
}
.title2-service{
	margin-left: 15px;
	margin-top: 20px;
	font-size: 12pt;
	font-weight: 300;
	font-family: "HanaMinA";
	letter-spacing: 3px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.numbertitle{
	visibility: hidden;
	position: absolute;
	right: 15;
	font-size:8pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	color: #9a9a9a;
}
.name-service{
	margin-left: 15px;
	margin-top: 10px;
	font-size: 24pt;
	font-weight: 300;
	line-height: 20pt;
	letter-spacing: 0px;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 10px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.pricebox-service{
	margin-bottom: 20px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	align-items: flex-end;
}
.NT-service{
	margin-top: 10px;
	font-size: 8pt;
	font-weight: 100;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 0px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	color: #909090;
}
.descrip-service{
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 8pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 2px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	color: #555;
}
.descrip2-service{
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 8pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 2px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	color: #555;
}
.project-descrip-service{
	font-size: 8pt;
	font-weight: 100;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 2px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	color: #555;
}
.price-service{
	margin-bottom: -4px;
	margin-left: 5px;
	font-size: 14pt;
	font-weight: 400;
	letter-spacing: 3px;
	color: #000;
	font-family: 'Noto Sans TC', sans-serif;
}
.button{
	border: 1px solid #474747;
	border-radius: 3px;
	width: 80px;
	font-size: 8pt;
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 20px;
	padding-left: 15px;
	height: 30px;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 2px;
	color: #474747;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	justify-content: flex-start;
	align-items: center;
}
.button-service{
	border: 1px solid #474747;
	border-radius: 3px;
	padding-left: 15px;
	width: 100px;
	font-size: 8pt;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 30px;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 2px;
	color: #474747;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	justify-content: flex-start;
	align-items: center;
}
.button1-service{
	border: 1px solid #474747;
	border-radius: 3px;
	padding-left: 10px;
	width: 80px;
	font-size: 8pt;
	margin-left:0px;
	margin-top: 15px;
	height: 30px;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 2px;
	color: #474747;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	justify-content: flex-start;
	align-items: center;
}
.imgbox-service{
	max-width: 300px;
	margin-right: 25px;
	margin-bottom: 30px;
}
.imgcontianer-service{
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: 20px;
	width: : 900px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
}
.map-service{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 15px;
	height: 150px;
}
.itemlist-service{
	border-radius: 5px;
	position: absolute;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #fff;
	padding: 20px;
	border: 2px solid #474747;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 10pt;
	line-height: 30px;
	letter-spacing: 1px;
	opacity: 0;
	z-index: -1;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
					flex-direction: column;
}
.button1-service > span:focus ~ ul{
	z-index: 1000;
	opacity: 1;
}
.listcontainer-service{
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
					flex-direction: row;
	justify-content: space-between;
}
.itemname-service{
	width: 60%;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.itemnum-service{
	width: 15%;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.itemprice-service{
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.totleprice-service{
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	justify-content: flex-end;
}
.contactbox-service{
	margin-bottom: 30px;
	border:1px solid #474747;
	padding:10px;
	border-radius:5px;
	flex-direction:column;
	font-size: 8pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 0px;
	line-height: 18px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.texturecontianer{
	margin-top: 20px;
	margin-left: 5px;
	min-width: 270px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
}
.texturebox{
	margin-bottom: 30px;
	min-width: 80px;
	overflow: hidden;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
					flex-direction: column;
	align-items: center;
}
.texture-img{
	max-height: 50px;
	max-width: 50px;
	margin-bottom: 10px;
	height: auto;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.texture-img2{
	max-height: 50px;
	max-width: 50px;
	margin-bottom: 10px;
	height: auto;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.texture-name{
	width: 100%;
	font-size: 10pt;
	font-weight: 500;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 3px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	justify-content: center;
	color: #474747;
}
/*https://i.imgur.com/qeDJAkh.jpg 大理石*/
/*https://i.imgur.com/OQsG894.jpg 美杉*/
/*https://i.imgur.com/siJCxL9.jpg 烏心石*/
/*https://i.imgur.com/P6gbd0z.jpg 鐵木*/
/*https://i.imgur.com/CnweozN.jpg 非洲紫檀*/
.table1{
	box-shadow: 1px -1px 15px;
	max-width: 1200px;
	margin-top:20px;
	height: 300px;
	background-image: url(https://i.imgur.com/qeDJAkh.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.table2{
	box-shadow: 1px -1px 15px;
	max-width: 1200px;
	margin-top:20px;
	height: 300px;
	background-image: url(https://i.imgur.com/OQsG894.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.table3{
	box-shadow: 1px -1px 15px;
	max-width: 1200px;
	margin-top:20px;
	height: 300px;
	background-image: url(https://i.imgur.com/siJCxL9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.table4{
	box-shadow: 1px -1px 15px;
	max-width: 1200px;
	margin-top:20px;
	height: 300px;
	background-image: url(https://i.imgur.com/P6gbd0z.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.table5{
	box-shadow: 1px -1px 15px;
	max-width: 1200px;
	margin-top:20px;
	height: 300px;
	background-image: url(https://i.imgur.com/CnweozN.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.oven{
	display: none;
	position: relative;
	top: 20%;
	margin-left: 40px;
	height: 70%;
}
.rag{
	position: relative;
	top: 50%;
	margin-left: 50px;
	height: 40%;
}
.plate{
	position: relative;
	top: 40%;
	margin-left: 20px;
	height: 50%;
}
.cabinetcontianer{
	margin-top: 100px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-direction: column;
}
.cabinetdescrip{
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-direction: column;
}
.title-cabinet{
	margin-top: 20px;
	margin-left: 15px;
	font-size: 14pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 3px;
}
.cabinet{
	flex-direction: column;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	align-items: center;
}
.cabinetbody{
	z-index: -1000;
	box-shadow: 0px 0px 50px;
	width: 100%;
	flex-wrap: nowrap;
	background-color: #141414;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.drawercontianer{
	width: 100;
	flex-direction: column;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.drawer1{
	margin-top: 5px;
	width: 100vw;
	height: 30vw;
	background-image: url(https://i.imgur.com/MvF9RzL.png);
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.drawer2{
	margin-top: 5px;
	width: 100vw;
	height: 30vw;
	background-image: url(https://i.imgur.com/uZE34sE.png);
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.drawer3{
	margin-top: 5px;
	width: 100vw;
	height: 30vw;
	background-image: url(https://i.imgur.com/CnweozN.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.drawerside{
	height: 285px;
	width: 10px;
	margin-left: 3px;
	background-color: #ddd;
}
.copyright-cabinet{
	display: none;
	bottom: 0;
	color: #999;
	margin-left: 50px;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 0px;
	transform: scale(0.58);
		transform-origin:0 0;

		-ms-transform: scale(0.58);         /* IE 9 */
		-ms-transform-origin:0 0;       /* IE 9 */

		-webkit-transform: scale(0.58); /* Safari 和 Chrome */
		-webkit-transform-origin:0 0;   /* Safari 和 Chrome */

		-moz-transform: scale(0.58);        /* Firefox */
		-moz-transform-origin:0 0;      /* Firefox */

		-o-transform: scale(0.58);      /* Opera */
		-o-transform-origin:0 0;        /* Opera */
}
/*SERVICE*/

/*ABOUT*/
.articlecontianer-about{
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
					flex-direction: column;
}
.title1-about{
	margin-left: 15px;
	margin-top: 50px;
	font-size: 14pt;
	font-weight: 100;
	font-family: "HanaMinA";
	letter-spacing: 3px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.article-about{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	font-size: 8pt;
	font-weight: 400;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 0px;
	line-height: 34px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.imgbox-about{
	width: 100%;
	margin-top: 30px;
	overflow: hidden;
	height: auto;
}
.logobox-about{
	max-width: 200px;
	margin-left: 15px;
	margin-top: 10px;
	overflow: hidden;
	height: auto;
}
/*ABOUT*/

/*WORKS*/
.gridcontianer-works{
	margin-left: 0px;
	margin-right: 0px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
}
.grid-works{
	margin-top: 40px;
	width: 100%;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-direction: column;
}
.imgbox-works{
	width: 100%;
	overflow: hidden;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.name-works{
	margin-top: 8px;
	font-size: 10pt;
	font-weight: 400;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 5px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	justify-content:center;
	color: #000;
}
.descrip-works{
	visibility:hidden;
	margin-top: 2px;
	font-size: 7pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 1px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	justify-content:center;
	color: #555555;
}
/*WORKS*/

/*TEAM*/
.gridcontianer-team{
	margin-top: 40px;
	margin-left: 0px;
	margin-right: 0px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
}
.grid-team{
	margin-top: 20px;
	margin-left: 15px;
	max-width: 420px;
	height: 180px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
		 -moz-align-items: flex-start;
	-webkit-align-items: flex-start;
					align-items: flex-start;
	flex-direction:row;
}
.imgbox-team{
	min-width: 70px;
	height: 70px;
	overflow: hidden;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.articlecontianer-team{
	width: 100%;
	height: 100%;
	margin-left: 20px;
	margin-right: 15px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
					flex-direction: column;
}
.name-team{
	width: 100%;
	font-size: 16pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 5px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.descrip-team{
	margin-top: 10px;
	font-size: 7pt;
	font-weight: 400;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 1px;
	line-height: 18px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
/*TEAM*/

/*PRESS*/
.gridcontianer-press{
	margin-left: 15px;
	margin-right: 15px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
}
.grid-press{
	border-top: 1px solid #000;
	margin-top: 40px;
	width: 100%;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-direction: column;
}
.name-press{
	margin-top: 12px;
	font-size: 14pt;
	font-weight: 300;
	font-family: "HanaMinA";
	letter-spacing: 5px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	color: #000;
}
.descrip-press{
	margin-top: 5px;
	font-size: 7pt;
	font-weight: 400;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 1px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	color: #555555;
}
.descrip-press1{
	margin-left: 15px;
	margin-top: 5px;
	font-size: 7pt;
	font-weight: 400;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 1px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	color: #555555;
}
.article-press{
	max-width: 510px;
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 8pt;
	font-weight: 400;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 0px;
	line-height: 18px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	color: #555555;
}
.imgbox-press{
	max-width: 700px;
	margin-top: 10px;
	overflow: hidden;
	height: auto;
}
/*PRESS*/

/*ITEM*/
.articlecontianer-item{
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
}
.imgbox1-item{
	width: 100%;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
					flex-direction: column;
}
.infobox-item{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 50px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
					flex-direction: column;
}
.name1-item{
	font-size: 12pt;
	font-weight: 300;
	font-family: "HanaMinA";
	letter-spacing: 4px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	color: #474747;
}
.NT-item{
	margin-top: 10px;
	font-size: 9pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 2px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	color: #777;
}
.pricebox-item{
	height: 70px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	align-items: flex-end;
}
.price-item{
	margin-bottom: -4px;
	margin-left: 5px;
	font-size: 18pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 3px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	color: #474747;
}
.gridcontianer-item{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.grid-item{
	margin-bottom: 60px;
	width: 49%;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-direction: column;
}
.imgbox-item{
	width: 100%;
	overflow: hidden;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.name-item{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 9pt;
	font-weight: 400;
	font-family: "HanaMinA";
	letter-spacing: 5px;
	line-height: 14pt;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	justify-content:flex-start;
	color: #000;
}
.name-en-item{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 9pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 5px;
	line-height: 14pt;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.designer-item{
	margin-left: 10px;
	margin-top: 8px;
	padding: 5px;
	background-color: #eee;
	color: #474747;
	font-size: 12pt;
	font-weight: 400;
	letter-spacing: 3px;
	font-family: 'Noto Sans TC', sans-serif;
	display: table;
	transform: scale(0.5);
		transform-origin:0 0;

		-ms-transform: scale(0.5);         /* IE 9 */
		-ms-transform-origin:0 0;       /* IE 9 */

		-webkit-transform: scale(0.5); /* Safari 和 Chrome */
		-webkit-transform-origin:0 0;   /* Safari 和 Chrome */

		-moz-transform: scale(0.5);        /* Firefox */
		-moz-transform-origin:0 0;      /* Firefox */

		-o-transform: scale(0.5);      /* Opera */
		-o-transform-origin:0 0;        /* Opera */
}
.tag-item{
	width: 100%;
	margin-left: 15px;
	margin-bottom: 10px;
	color: #474747;
	font-size: 10pt;
	font-weight: 400;
	letter-spacing: 3px;
	font-family: 'Noto Sans TC', sans-serif;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.copyright-item{
	display: none;
}
.copyright-item-mobil{
	color: #999999;
	margin-left: 15px;
	margin-bottom: 15px;
	bottom: 0;
	font-size: 6pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 0px;
}
/*ITEM*/

/*Contact*/
.block-contact{
	height: 60px;
}
.descrip-contact{
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 8pt;
	font-weight: 500;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 2px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	color: #474747;
}
.map-contact{
	bottom: 0px;
	margin-top: 100px;
	margin-bottom: 120px;
	margin-left: 15px;
	margin-right: 15px;
	max-width: 270px;
}
.articlecontianer-contact{
	margin-top: 50px;
	width: 100%;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
					flex-direction: column;
}
/*Contact*/

.articlecontianer{
	width: 100%;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
	flex-wrap: wrap;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
					flex-direction: column;
}
.title1{
	margin-left: 15px;
	margin-top: 70px;
	font-size: 14pt;
	font-weight: 100;
	font-family: "HanaMinA";
	letter-spacing: 3px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.article{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 30px;
	font-size: 8pt;
	font-weight: 400;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 0px;
	line-height: 34px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}
.imgbox{
	width: 100%;
	margin-top: 30px;
	overflow: hidden;
	height: auto;
}
.descrip{
	max-width: 510px;
	margin-left: 15px;
	margin-top: 2px;
	margin-bottom: 50px;
	font-size: 8pt;
	font-weight: 400;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 0px;
	line-height: 18px;
	display: -moz-flex;
	display: -webkit-flex;
	display: 				 flex;
}

.block{
	height: 50px;
}
.copyright{
	color: #999999;
	margin-left: 15px;
	margin-bottom: 15px;
	bottom: 0;
	font-size: 6pt;
	font-weight: 300;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 0px;
}
