@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
  font-family: HanaMinOT_otf;
  src: url("HanaMinOTPr6N-Regular.otf") format("opentype");
}
@font-face {
  font-family: HanaMinOT_woff;
  src: url("HanaMinOTPr6N-Regular.woff") format('woff');
}
a:link{color:#000000}
a:hover{font-size: 7pt;}
a:active {color:#000000;}
a:visited {color:#000000;}
a{text-decoration:none}
* {
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
  }
body{
    margin: 0;
    padding: 0;
  }
.cleanfix{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
     -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
  }
nav{
  position: fixed;
  right: 0;
  bottom: 0;
  padding-top: 20px;
  width: 120px;
  height: 310px;
  background-color: #fff;
  z-index: 1;
}
.navlinks{
  direction:rtl;
  padding-right: 40px;
  font-size: 7pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 2px;
  line-height: 28px;
}
.logobox{
  float: right;
  margin-top: 25px;
  margin-right: 40px;
  height: 70px;
}
.contianer{
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: column;
}
.bigtitle{
  width: 28px;
  border-right: 2px solid #000000;
  position: absolute;
  right: 0;
  margin-top: 90px;
  margin-right: 40px;
  font-size: 12pt;
  font-weight: 400;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 5px;
  line-height: 26px;
  -webkit-writing-mode: vertical-lr ;
  writing-mode: vertical-lr ;
}

/*INDEX*/
.picbox{
  height: 100vh;
  margin-right: 150px;
  overflow: hidden;
}
.articlecontianer-index{
  position: absolute;
  padding: 20px;
  margin-top: 90px;
  margin-left: 150px;
  margin-right: 130px;
  font-size: 8pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 2px;
  line-height: 24px;
  background-color: #fff;
  opacity:0.8;
}
  .title1-index{
    width: 100%;
    margin-bottom: 20px;
    font-size: 14pt;
    font-weight: 100;
    font-family: ‘Noto Sans TC’, sans-serif;
    letter-spacing: 3px;
    display: -moz-flex;
    display: -webkit-flex;
    display: 				 flex;
  }
}
/*INDEX*/

/*SERVICE*/
.gridcontianer-service{
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.grid-service{
  margin-bottom: 40px;
  margin-left: 40px;
  min-width: 270px;
  height: 330px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: column;
}
.imgbox-service{
  height: 270px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.name-service{
  margin-top: 8px;
  font-size: 10pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 5px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content:center;
}
.descrip-service{
  visibility:hidden;
  margin-top: 2px;
  font-size: 7pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 1px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content:center;
  color: #555555;
}
/*SERVICE*/

/*ABOUT*/
.articlecontianer-about{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.title0-about{
  width: 100%;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 18pt;
  font-weight: 100;
  font-family: "HanaMinOT_woff";
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.title1-about{
  width: 100%;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 14pt;
  font-weight: 100;
  font-family: "HanaMinOT_woff";
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.article-about{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 8pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 0px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.imgbox-about{
  max-width: 700px;
  margin-top: 20px;
  margin-left: 40px;
  overflow: hidden;
  height: auto;
}
/*ABOUT/

/*TEAM*/
.gridcontianer-team{
  margin-top: 90px;
  margin-left: 0px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.grid-team{
  margin-bottom: 40px;
  margin-left: 80px;
  max-width: 420px;
  height: 180px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
     -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  flex-direction:row;
}
.imgbox-team{
  min-width: 100px;
  height: 100px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.articlecontianer-team{
  width: 100%;
  height: 100%;
  margin-left: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.name-team{
  width: 100%;
  font-size: 16pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 5px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.descrip-team{
  margin-top: 10px;
  font-size: 7pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 1px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
/*TEAM*/

/*WORKS*/
.gridcontianer-works{
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
}
.grid-works{
  margin-bottom: 40px;
  margin-left: 40px;
  min-width: 270px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-direction: column;
}
.imgbox-works{
  max-width: 330px;
  overflow: hidden;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.name-works{
  margin-top: 8px;
  font-size: 10pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 5px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content:center;
}
.descrip-works{
  visibility:hidden;
  margin-top: 2px;
  font-size: 7pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 1px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  justify-content:center;
  color: #555555;
}
/*WORKS*/


.articlecontianer{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 130px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
  flex-wrap: wrap;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.title1{
  width: 100%;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 14pt;
  font-weight: 100;
  font-family: "HanaMinOT_woff";
  letter-spacing: 3px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.descrip{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 2px;
  margin-bottom: 50px;
  font-size: 8pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 0px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.article{
  max-width: 510px;
  margin-left: 50px;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 8pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 0px;
  line-height: 18px;
  display: -moz-flex;
  display: -webkit-flex;
  display: 				 flex;
}
.imgbox{
  max-width: 700px;
  margin-top: 10px;
  margin-left: 40px;
  overflow: hidden;
  height: auto;
}
.hover figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover figure:hover img {
  opacity: .5;
}
.block{
  height: 300px;
}
.copyright{
  color: #999999;
  margin-left: 50px;
  margin-bottom: 15px;
  bottom: 0;
  font-size: 7pt;
  font-weight: 300;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 0px;
}
