<html lang="zh">

<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html charset=UTF-8">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- CSS -->
	<link href="css/index.css" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500&display=swap" rel="stylesheet">
	<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
	<script src="js/waterfall.min.js"></script>
	<script src="js/index.js"></script>
	<title> 賴廷昱 Laitingyu Portfolio </title>
</head>

<body>



	<div class="loadingbox" id="overlay">
		<div class="linebox">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
		<div class="linebox">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</div>

	<div class="cleanfix" id="app">
		<div class="leftbox">
			<div id="topbox">
				<div id="logobox">
					<img src="https://imgur.com/MSNitx5.jpg" height="40%">
				</div>
				<div id="navbox">
					<div id="nav">
						<a id="click-a">About</a>
						<a id="click-w">Works</a>
						<a id="click-c">Contact</a>
					</div>
					<div id="titlebox">
						<div class="titlebar" id="title"></div>
						<div class="textA">About</div>
						<div class="textW">Works</div>
						<div class="textC">Contact</div>
					</div>
				</div>
			</div>





			<div id="infobox-about">
				<div class="namebox-about">
					<div class="name-about">賴廷昱</div>
					<div class="en-name">Ting Yu,Lai</div>
				</div>
				<div class="subcontent-about">
					26歲<br>
					台中高級工業職業學校 製圖科<br>
					國立聯合大學 機械工程學系<br>
				</div>
				<div class="resume-about">
					<div class="company">
						Natural n' Vintage
					</div>
					<div class="job-info">
						<div class="job">
							籌備成員<br>
							店長
						</div>
						<div class="job-time">
							2017.09 - 2018.05<br>
							2018.06 - 2019.11
						</div>
					</div>
					<div class="company">
						JK2U 吉爾集思數位行銷
					</div>
					<div class="job-info">
						<div class="job">
							視覺設計師<br>
							前端互動設計師
						</div>
						<div class="job-time">
							2019.12 - 2020.06<br>
							2020.06 - 2021.05
						</div>
					</div>

				</div>
				<div class="content-about">
					來自台中，現居台北。<br><br>
					個性內向、慢熟、理性、隨和、脾氣好、有耐心，
					自學能力強，遇到問題多能自行尋找方法解決。
					自幼便對設計與網站有興趣，於高中和大學就讀期間便自學相關技能與軟體。<br><br>
					畢業後任職於古董傢俱店 Natural n' Vintage，籌備時期負責網頁建置、平面文宣、行銷宣傳等事務；
					開業後負責網頁維護、商品攝影、商品銷售等事宜。<br><br>
					2019.12於JK2U擔任視覺設計師，負責網頁設計/切版、廣告素材製作；
					2020.07轉任前端互動設計師，負責網頁設計/切版、網頁特效、前端功能、AR
				</div>
			</div>


			<div id="infobox-works" onscroll="scrollFunction()">
				<div class="tabbox">
					<div class="tab actived" @click="tab=['front_end']">Front-end</div>
					<div class="tab" @click="tab=['design']">Design</div>
				</div>

				<div class="waterfall">
					<transition-group name="fade" mode="out-in" v-on:after-enter="afterEnter">
						<div class="item" v-if="i.cover!=''" v-on:click="works_click(i.id)" v-for="i in filtered" :key="i.id">
							<a class="imgbox-works hover">
								<img v-lazy="i.cover" width="100%">
							</a>
							<div class="name-works" id="zh-item" v-html="i.cover_title"></div>
						</div>
					</transition-group>
				</div>
			</div>


			<div id=infobox-contact>
				<p>0909-689-432</p>
				<p>letsohyeah@gmail.com</p>
			</div>


		</div>


		<ul>
			<li class="rightbox about">
				<div class="titlebox-skills">Skills</div>
				<div class="typebox">
					<div class="type_content">
						<div class="skill_box">
							<div class="skill_title">
								HTML
							</div>
							<ul>
								<li>HTML 5</li>
							</ul>
						</div>
						<div class="skill_box">
							<div class="skill_title">
								CSS
							</div>
							<ul>
								<li>CSS3</li>
								<li>SASS/SCSS</li>
							</ul>
						</div>
						<div class="skill_box">
							<div class="skill_title">
								JavaScript
							</div>
							<ul>
								<li>ES5</li>
								<li>ES6+<span>(Fair)</span></li>
								<li>jquery</li>
							</ul>
						</div>
						<div class="skill_box">
							<div class="skill_title">
								Effects
							</div>
							<ul>
								<li>GSAP<span>(animation)</span></li>
								<li>ScrollTrigger<span>(scroll animation)</span></li>
								<li>ahrelax.js<span>(scroll animation)</span></li>
								<li>Locomotive-Scroll<span>(parallax-scrolling)</span></li>
								<li>D3.js<span>(data visualization)</span></li>
								<li>Panolens<span>(360°)</span></li>
							</ul>
						</div>
						<div class="skill_box">
							<div class="skill_title">
								Others
							</div>
							<ul>
								<li>NPM</li>
								<li>Webpack</li>
								<li>ajax</li>
								<li>axios</li>
								<li>Github Desktop</li>
							</ul>
						</div>
						<div class="skill_box">
							<div class="skill_title">
								Frameworks
							</div>
							<ul>
								<li>Vue.js</li>
							</ul>
						</div>
						<div class="skill_box">
							<div class="skill_title">
								AR
							</div>
							<ul>
								<li>Spark AR</li>
							</ul>
						</div>
					</div>
					<div class="type_title">Front-end</div>
				</div>
				<div class="typebox">
					<div class="type_content">
						<div class="skill_box">
							<div class="skill_title">
								Graphic Design
							</div>
							<ul>
								<li>Illustrator</li>
								<li>Photoshop</li>
								<li>InDesign</li>
							</ul>
						</div>
						<div class="skill_box">
							<div class="skill_title">
								3D Modeling
							</div>
							<ul>
								<li>Sketch UP</li>
								<li>Blender</li>
								<li>SolidWorks</li>
								<li>Inventor</li>
								<li>VRoidStudio</li>
							</ul>
						</div>
					</div>
					<div class="type_title">Software</div>
				</div>



			</li>
			<transition name="slide">
				<li v-if="show" class="rightbox Works desktop">
					<div>
						<div class="titlebox-works" v-html="works[id].title"></div>
						<div class="works-info">
							<div class="works-info-text">{{works[id].date}}</div>
							<div class="works-info-text">{{works[id].type}}</div>
							<a v-bind:href="works[id].url" v-if="works[id].url !=''" target="_blank">{{works[id].url_name}} <i class="fas fa-link"></i></a>
							<div class="tagbox">
								<span v-for="i in works[id].tag">#{{i}}</span>
							</div>
							<div class="works-descript" v-html="works[id].descript"></div>
						</div>
						<div class="imgbox1-works" v-for="i in works[id].img">
							<div class="img-descript" v-if="i[1] != ''">{{i[1]}}</div>
							<img v-lazy="i[0]" width="100%">
						</div>
					</div>
				</li>
			</transition>
			<li class="rightbox Works mobile">
				<div>
					<div class="close"></div>
					<div class="titlebox-works" v-html="works[id].title"></div>
					<div class="works-info">
						<div class="works-info-text">{{works[id].date}}</div>
						<div class="works-info-text">{{works[id].type}}</div>
						<a v-bind:href="works[id].url" v-if="works[id].url !=''" target="_blank">{{works[id].url_name}} <i class="fas fa-external-link-alt"></i></a>
						<div class="tagbox">
							<span v-for="i in works[id].tag">#{{i}}</span>
						</div>
						<div class="works-descript" v-html="works[id].descript"></div>
					</div>
					<div class="imgbox1-works" v-for="i in works[id].img">
						<div class="img-descript" v-if="i[1] != ''">{{i[1]}}</div>
						<img v-lazy="i[0]" width="100%">
					</div>
				</div>
			</li>
		</ul>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/waterfall.js"></script>
</body>

</html>
